@import '../../../styles/variables';

::ng-deep {
  .article {

    &__content {
      margin-top: 1.5rem;

      p, 
      h3,
      ul,
      ol,
      li {
        color: var(--font-color-muted);
      }

      a {
        color: var(--font-color-muted);
        font-weight: bold;
        text-decoration: underline;
        transition: all 0.3s ease-in-out;
      
        &:hover,
        &:active {
          color: var(--color-primary-dark);
        }
      }
    }
  }
  
}