@import '../../../styles/typography';
@import '../../../styles/variables';

.heading {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  padding: 0;
  gap: 2rem;

  &__title {
    font-size: 2rem;
    margin-bottom: 0;
    font-family: $font-family-base;
    font-weight: 700;
  }

  @media screen and (max-width: $breakpoint-small) {
    gap: 0;

    &__title {
      font-size: 1.7rem;
    }
  }
}