@import '../../../styles/variables';

.footer {
  padding: 3rem 0;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }

  img {
    display: inline-block;
    max-height: 28px;
    width: auto;
  }

  nav {
    display: flex;
    gap: 1rem;
    margin: 0 1rem;

    img {
      display: inline-block;
      max-height: 18px;
      width: auto;
    }
  }

  &__made-by {
    color: var(--font-color-muted);
  }

  a, 
  span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;

    &:hover {
      text-decoration-line: underline;
      text-decoration-thickness: 2px;
    }
  }

  a {
    &.button {
      color: var(--font-color-base);

      &:hover {
        color: var(--font-color-base);
        text-decoration: none;
      }
    }
  }
}