@mixin styled-link($hover-color) {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;

  &:hover,
  &:active {
    text-decoration: none;
    color: $hover-color;
  }
}

@mixin shadow-low {
  box-shadow: var(--shadow-low);
}

@mixin shadow-medium {
  box-shadow: var(--shadow-medium);
}

@mixin shadow-high {
  box-shadow: var(--shadow-high);
}