<div class="content">
  <ng-content></ng-content>
</div>

<div class="sidebar" role="navigation" aria-label="Table of contents">
  <app-scrollspy-nav
    [headings]="headings()"
    [ariaLabel]="'On this page'"
  ></app-scrollspy-nav>

  @if (showScrollUpButton) {
    <button
      class="scrollup-button"
      (click)="onScrollUp()"
      [@zoomAnimation]
      aria-label="Scroll to top"
      title="Scroll to top"
    >
      <span class="scrollup-button__icon" [innerHTML]="chevronIcon" aria-hidden="true"></span>
      <span class="scrollup-button__text">Back to the top</span>
    </button>
  }
</div>
