@import '../../../styles/mixins';

.scrollup-button {
  margin: 0;
  margin-left: 0.8rem;
  padding: 0;
  font-size: 0.8rem;
  background-color: transparent;
  border: none;

  &__text {
    color: var(--font-color-base);
  }
}

.sidebar {
  height: fit-content;
}