@import '../../../styles/variables';
@import '../../../styles/typography';

.alphabetical-tags {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.75rem;
}

.alphabetical-tags:last-child {
  border-bottom: none;
}

.alphabetical-tags h3 {
  width: 30px;
  margin: 0;
  color: var(--font-color-base);
}

.tags,
.links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  border-radius: $border-radius;
  color: var(--color-primary-dark);
  background: var(--button-background-color);
}

.tag-count {
  color: var(--font-color-muted);
}