<app-container>
  <app-hero
    [title]="'topics'"
    [description]="'Explore content by topic'"
  ></app-hero>

  <section class="segment">
    @for (group of tagGroups(); track group.letter) {
    <div>
      <div class="alphabetical-tags">
        <h3>{{ group.letter }}</h3>
        <div class="tags">
          @for (tag of group.tags; track tag.name) {
          <a [routerLink]="['/tags', slugify(tag.name)]" class="tag">
            {{ tag.name }}
            <span class="tag-count">{{ tag.count }}</span>
          </a>
          }
        </div>
      </div>
    </div>
    }
  </section>
</app-container>
