@import '../../../styles/variables';

.alphabetical-tags {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  padding-bottom: 0.75rem;
}

.alphabetical-tags h3 {
  width: 30px;
  margin: 0;
  font-size: 2rem;
  color: var(--font-color-base);
}

.tags,
.links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.5rem 0.8rem;
  border-radius: $border-radius;
  color: var(--font-color-muted);
  display: inline-flex;
  gap: 0.5rem;
  background: var(--button-background-color);
}

.tag-count {
  color: var(--color-primary-dark);
}