@import '../../../styles/variables';

.hero-wrapper {
  padding-top: 0;
  display: grid;
  grid-template-columns: 4fr 2fr;
  align-items: center;
  gap: 1.5rem;
  
  @media screen and (max-width: $breakpoint-small) {
    padding-top: 2rem;
    grid-template-columns: 1fr;
  }
}

p.hero-description {
  -webkit-font-smoothing: antialiased;
  margin: 1.5rem 0 0;
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--font-color-muted);
  font-weight: 500;
  
  .hero-link {
    text-decoration: none;
    
    &:hover {
      color: var(--color-primary-dark);
      text-decoration: underline 2px;
    }
  }
  
  @media screen and (max-width: $breakpoint-small) {
    margin: 1rem 0;
    font-size: 1.1rem;
  }
}

.hero-component {
  order: 1;
  
  @media screen and (max-width: $breakpoint-small) {
    order: 2;
  }
}

.decoration {
  display: flex;
  align-items: center;
  order: 2;
  justify-content: flex-end;
  
  @media screen and (max-width: $breakpoint-small) {
    display: none;
    order: 1;
  }
}

/* Preview */
.post-preview {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  
  > div {
    flex: 1;
  }
  
  a.button {
    font-size: 0.9rem;
    padding: 0.5rem 0.75rem;
    
    @media screen and (max-width: $breakpoint-small) {
      padding: 0.5rem 0.6rem;
    }
  }
  
  @media screen and (max-width: $breakpoint-small) {
    grid-template-columns: 1fr;
  }
}

.hero-image {
  animation: rotateOnce 1.2s cubic-bezier(0.25, 1, 0.5, 1) 1;
  width: 200px;
  max-width: 200px;
  
  @media screen and (max-width: $breakpoint-small) {
    max-width: 100px;
  }
}

@keyframes rotateOnce {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}