@import '../../../styles/variables';

/* Containers */
.container {
  max-width: $content-width;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: $breakpoint-small) {
  .container {
    padding: 0 2rem;
  }
}

.hero-wrapper {
  padding-top: 2rem;
  display: grid;

  @media screen and (min-width: $breakpoint-small) {
    padding-top: 0;
    grid-template-columns: 4fr 2fr;
    align-items: center;
    gap: 1.5rem;
  }
}

p.hero-description {
  -webkit-font-smoothing: antialiased;
  margin: 1rem 0;
  font-size: 1.1rem;
  line-height: 1.6;
  color: $color-blue-light-medium;
  font-weight: 500;

  a {
    text-decoration: none;

    &:hover {
      color: $color-primary-dark;
      text-decoration: underline 2px;
    }
  }

  @media screen and (min-width: $breakpoint-small) {
    margin: 1.5rem 0 0;
    font-size: 1.2rem;
  }
}

.hero-component {
  order: 2;

  @media screen and (min-width: $breakpoint-small) {
    order: 1;
  }
}

.decoration {
  display: flex;
  align-items: center;
  order: 1;

  @media screen and (min-width: $breakpoint-small) {
    order: 2;
    justify-content: flex-end;
  }
}

/* Preview */
.post-preview {
  display: grid;
  gap: 1rem;

  > div {
    flex: 1;
  }

  a.button {
    font-size: 0.9rem;
    padding: 0.5rem 0.6rem;

    @media screen and (min-width: $breakpoint-small) {
      padding: 0.5rem 0.75rem;
    }
  }

  @media screen and (min-width: $breakpoint-small) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.hero-image {
  max-width: 100px;

  @media screen and (min-width: $breakpoint-small) {
    width: 200px;
    max-width: 100%;
  }
}
