<section class="header">
  <div class="header__container">
    <a routerLink="/" class="header__brand">
      <img
        [src]="
          isDarkTheme()
            ? 'assets/images/sloth-logo.svg'
            : 'assets/images/sloth-logo-light-theme.svg'
        "
        class="header__logo"
        alt="logo"
      />
      <span class="header__brand-text">davelombardo.me</span>
    </a>
    <nav class="header__nav">
      @for (item of mainNavItems; track item.label) {
      <a
        [routerLink]="item.url"
        routerLinkActive="header__nav-item--active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="header__nav-item"
      >
        {{ item.label }}
      </a>
      }
      <button
        (click)="toggleTheme()"
        class="theme-toggle"
        [attr.aria-label]="
          isDarkTheme()
            ? 'Switch to light theme'
            : 'Switch to dark theme'
        "
      >
        <span
          class="theme-toggle__icon"
          [innerHTML]="isDarkTheme() ? sunIcon : moonIcon"
        ></span>
      </button>
    </nav>
  </div>
</section>
