@import '../../../styles/variables';
@import '../../../styles/typography';
@import '../../../styles/mixins';

.post-sidebar {
  display: grid;
  max-width: 800px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;

  h2 {
    border: none;
    margin: 0 0 1rem;
    font-weight: 700;
    font-size: 1.4rem;
  }

  p,
  ul {
    font-size: 1rem;
    color: var(--font-color-muted);
  }

  p:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: $breakpoint-small) {
    display: block;
  }
}

.post-sidebar-card {
  background: var(--card-background-color);
  @include shadow-medium();
  padding: 1.5rem;
  border-radius: $border-radius;
  margin: 1.5rem 0;

  .post-sidebar-link {
    @include styled-link($color-primary-light);
  }

  @media screen and (max-width: $breakpoint-small) {
    padding: 1rem;
  }
}

a.tag {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.2rem 0.5rem;
  border-radius: $border-radius;
  color: var(--color-primary-dark);
  background: var(--button-background-color);
  text-decoration: none;

  &:hover {
    color: var(--font-color-base);
    border-color: var(--border-color);
    text-decoration: none;
  }

  &.active {
    color: $color-highlight;
    border-color: $color-highlight;
    font-weight: 600;
  }
}