<aside class="post-sidebar">
  <!-- About me section -->
  <div class="post-sidebar-card">
    <h3>about me</h3>
    <p>
      hello and thanks for visiting! my name is
      <a class="post-sidebar-link" [routerLink]="'/about-me'">
        davide lombardo</a> and this is my website.
    </p>
    <p>
      I'm a frontend developer who shares insights on coding and creativity. This site is completely independent and free from sponsored content.
    </p>
  </div>

  <!-- Post details section -->
  <div class="post-sidebar-card">
    <h3>post details</h3>
    <ul>
      <li>
        <strong>published:</strong>
        {{ date() | date : 'MMMM d, y' }}
      </li>
      @if (category) {
      <li>
        <strong>category:</strong>
        <a
          class="post-sidebar-link"
          [routerLink]="['/categories', slugify(category)]"
        >
          {{ category }}
        </a>
      </li>
      }
    </ul>

    <!-- Tags section -->
    <h3>tags</h3>
    @if (tags().length > 0) {
      <div class="tags">
        @for (tag of tags(); track tag) {
        <a [routerLink]="['/tags', slugify(tag)]" class="tag">
          {{ tag }}
        </a>
        }
      </div>
    } @else {
      <p>No tags for this post</p>
    }
  </div>
</aside>
